body{
    margin: 0;
    font-family: arial;
    font-size: 12px;
}

/* topo da página, onde vão os menus e links
pras redes sociais, além da área de pesquisa */

.topo{
    height: 30px;
    background-color: rgb(10, 10, 10);
    color: white;
}
.topoint{
    width: 100%;
    max-width: 1040px;
    height: 30px;
    margin: auto;
}
.topointleft{
    width: 50%;
    height: 30px;
    float: left;
}
.topointright{
    width: 50%;
    height: 28px;
    float: right;
    margin-top: 2px;
}
.topointleft > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.topointleft li{
    height: 30px;
    line-height: 30px;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
}
.topointleft li > a{
    color: white;
    text-decoration: none;
}
.busca{
    width: 110px;
    height: 26px;
    outline: 0;

}
.topointright a, input{
    float: right;
}
.topointright img{
    margin-right: 3px;
}

/* Lugar onde vai a Logo do portal e a publicidade */

.topo2{
    height: 95px;
}
.topo2int{
    width: 100%;
    max-width: 1040px;
    height: 95px;
    margin: auto;
}
.logo{
    width: 320px;
    height: 95px;
    float: left;
}
.topo2 .pub{
    width: 650px;
    height: 80px;
    float: right;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    background-color: red;
}

/* Lugar onde vou fazer a parte do menu com dropdown */

.menu{
    height: 40px;
    background-color: red;
}
.menuint{
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}
.menuint > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menuint li{
    float: left;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    padding-right: 8px;
}
.menu a{
    color: white;
    text-decoration: none;
}
.submenu{
    width: 150px;
    background-color: red;
    position: absolute;
    display: none;
}

.menu li:hover .submenu{
    display: block;
}
.submenuitem{
    width: 140px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
.submenu > a:hover .submenuitem{
    background-color: rgb(156, 0, 0);
}


/* MISC */

.arrow{
    filter: invert(1);
    transform: rotate(-90deg);
    transition: all linear .1s;
}
.menu li:hover .arrow{
    transform: rotate(90deg);
}

/* Últimas notícias */

.ultnot{
    height: 40px;
}
.ultnotint{
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}
.ultnotarea{
    height: 28px;
    background-color: white;
    border: 1px solid gray;
    margin-top: 10px;
}
.ultnotl{
    background-color: red;
    color: white;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}
.ultnotr{
    color: black;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding-left: 5px;
}

/* Conteúdo do portal inteiro */

.contentint{
    width: 100%;
    max-width: 1040px;
    margin: auto;
}
.leftside{
    width: 753px;
    min-height: 200px;float: left;
}
.rightside{
    width: 275px;
    min-height: 200px;
    float: right;
    margin-left: 12px;
}

/* widgets */

.widget{
    background-color: white;
    border: 1px solid gray;
    margin-bottom: 10px;
}
.widtitle{
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    font-size: 14px;
    border-bottom: 1px solid gray;
    background-color: lightgrey;
}
.widcontent{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.notitem{
    font-size: 14px;
    margin: 10px;
    padding-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid gray;
}
.notitem a{
    text-decoration: none;
    color: black;
}

/* Slideshow */

.slideshow{
    height: 355px;
    overflow: hidden;
    margin-bottom: 20px;
}
.slideshowarea{
    width: 100000px;
    height: 355px;
    transition: all 1s;
}
.slide{
    height: 355px;
    float: left;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.slideinf{
    width: 753px;
    height: 70px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 15%, rgba(0,212,255,0) 100%);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 295px;
    color: white;
}
.slideinftitle{
    font-size: 20px;
    padding-top: 15px;
    padding-left: 20px;
}
.slideinfsubtitle{
    font-size: 13px;
    padding-left: 20px;
}
.slideposition{
    position: absolute;
    width: 200px;
    height: 20px;
    margin: 5px;
}
.slidepositiondot{
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    background-color: gray;
    border-radius: 10px;
}

/* Notícias principais */

.notarea1{
    width: 430px;
    height: 420px;
    float: left;
}
.notarea2{
    width: 320px;
    height: 420px;
    float: left;
}
.notarea2item{
    text-align: left;
    height: 88px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}
.notimg{
    width: 80px;
    height: 80px;
    border: 1px solid gray;
    padding: 3px;
    float: left;
}
.nottitle{
    float: left;
    margin-left: 6px;
    font-size: 16px;
    width: 226px;
}
.notinf{
    width: 226px;
    float: left;
    font-size: 12px;
    margin-left: 6px;
    color: #999;
}
.principalnot{
    margin-left: 10px;
    margin-right: 28px;
}
.principalnot .notimg{
    width: 384px;
    height: 222px;
}
.principalnot .notimg img{
    width: 384px;
    height: 222px;
}
.principalnot .nottitle{
    font-size: 30px;
    width: 384px;
}
.notarea1 a , .notarea2 a{
    text-decoration: none;
    color: black;
}