body{
    margin: 0;
    font-family: arial;
    font-size: 12px;
}

/* topo da página, onde vão os menus e links
pras redes sociais, além da área de pesquisa */

.topo{
    height: 30px;
    background-color: rgb(10, 10, 10);
    color: white;
}
.topoint{
    width: 100%;
    max-width: 1040px;
    height: 30px;
    margin: auto;
}
.topointleft{
    width: 50%;
    height: 30px;
    float: left;
}
.topointright{
    width: 50%;
    height: 28px;
    float: right;
    margin-top: 2px;
}
.topointleft > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.topointleft li{
    height: 30px;
    line-height: 30px;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
}
.topointleft li > a{
    color: white;
    text-decoration: none;
}
.busca{
    width: 110px;
    height: 26px;
    outline: 0;

}
.topointright a, input{
    float: right;
}
.topointright img{
    margin-right: 3px;
}

/* Lugar onde vai a Logo do portal e a publicidade */

.topo2{
    height: 95px;
}
.topo2int{
    width: 100%;
    max-width: 1040px;
    height: 95px;
    margin: auto;
}
.logo{
    width: 320px;
    height: 95px;
    float: left;
}
.topo2 .pub{
    width: 650px;
    height: 80px;
    float: right;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    background-color: red;
}

/* Lugar onde vou fazer a parte do menu com dropdown */

.menu{
    height: 40px;
    background-color: red;
}
.menuint{
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}
.menuint > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menuint li{
    float: left;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    padding-right: 8px;
}
.menu a{
    color: white;
    text-decoration: none;
}
.submenu{
    width: 150px;
    background-color: red;
    position: absolute;
    display: none;
}

.menu li:hover .submenu{
    display: block;
}
.submenuitem{
    width: 140px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
.submenu > a:hover .submenuitem{
    background-color: rgb(156, 0, 0);
}


/* MISC */

.arrow{
    filter: invert(1);
    transform: rotate(-90deg);
    transition: all linear .1s;
}
.menu li:hover .arrow{
    transform: rotate(90deg);
}